<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>f) Name Of</Title>
			<Shortcut>nof</Shortcut>
			<Description>nameof 키워드를 만듭니다.</Description>
			<Author>gskim</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="csharp">
				<![CDATA[{nameof($end$)}]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>